<!DOCTYPE html>
<html lang="english">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="app/stylesheets/style.css">
	<%= stylesheet_link_tag "application", "style.css" %>
	<link>
	<title>Movie</title>

</head>

<body>
	<header>
		<!--here must be used / before video then it it show in index page video -->
		<video src="/video/theboys.webm"autoplay muted ></video>
		<nav>
				<div class="logo_ul">
					<img src="/img/logo.png" alt="logo">
					<ul>
						<li>
							<a href="#">Home </a>
						</li>
						<li>
							<a href="#">Series</a>
						</li>
						<li>
							<a href="#"> Movies</a>
						</li>
						<li>
							<a href="#">Kids</a>
						</li>
					</ul>
				</div>
				<div class="search_user">
					<input type="text" placeholder="Search......" id="search_input ">
					<img src="/img/search1.jpeg" alt="search_user img">
					<div class="search">
					</div>

				</div>
		</nav> 
	</header>
	<script type="text/javascript"></script>
</body>